
    input
    {
        font-family: cursive;
    }
    #title
    {
        font-size: 50px;
        color: #000;
    }
    body
    {
        background-image: url('water2.jpg');
    }
